@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap");

:root {
    --text-primary: #08c;
    --text-secondary: #2d3e50;
    --primary-bg: #fff;
    --secondary-bg: #000;
    --link-bg: #bbb;
    --grey-bg: #ccc;
    --light-bg: #eee;
    --suspended-color: #730709;
    --red-color: #ff0000;
    --yellow-color: #ffff00;
    --green-color: #00ff00;
    --white-color: #fff;
    --site-color: #000;
    --green-bg: #145b12;
    --blue-color: #0000ff;
}

.sidebar {
    padding: 0 !important;
    min-height: calc(100vh - 159px);
    max-width: 15% !important;
    background-color: var(--grey-bg);
    color: var(--site-color);
}

.sidebar-title {
    background-color: #0088cc;
    padding-bottom: 0;
    cursor: pointer;
    padding: 4px 6px;
    margin-bottom: 0;
    margin-top: 1px;
    display: flex;
}

.sidebar-title h5 {
    color: #fff;
    width: 100%;
    font-size: 18px;
}

.sidebar .sidebar-title :before {
    font-family: "Font Awesome 5 Free";
    /* content: "\f107"; */
    padding-right: 3px;
    font-weight: 900;
    float: right;
}

.sidebar .sidebar-title.collapsed :before {
    /* content: "\f105"; */
}

.sidebar .nav-item .nav-link {
    background: #bbb;
    color: #000;
    border-bottom: 1px solid #9e9e9e;
    font-weight: normal;
    font-size: 14px;
    padding: 0.3rem 1rem;
}

.sidebar .nav-item.active .nav-link {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white-color);
}

.sidebar .mtree-main {
    padding: 5px 10px;
}

.sidebar .mtree li {
    padding: 2px 0 2px 10px;
    position: relative;
}

.sidebar .mtree>li {
    padding-left: 0;
}

.sidebar .mtree li a {
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: var(--site-color);
}

.sidebar .mtree li a:hover {
    text-decoration: none;
}

ul.mtree.transit li.mtree-open>a::after {
    content: "-";
}

ul.mtree.transit li.mtree-closed>a::after {
    content: "+";
}

ul.mtree.transit li.mtree-node>a::after {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    right: -5px;
    top: 0;
    color: var(--site-color);
}

.mtree-open ul li::after {
    bottom: 0;
    content: "";
    left: 4px;
    position: absolute;
    top: 0px;
    border-left: 1px solid var(--secondary-bg);
}

.mtree-open ul li::before {
    background: var(--theme1-bg);
    bottom: auto;
    content: "";
    height: 8px;
    left: 0px;
    margin-top: 2px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

#user-book .mtree-open ul li::before {
    background: none;
    height: 0;
    width: 0;
}

/* .mtree-skin-selector {
    display: none;
} */

.sidebar .report-menu li {
    padding: 5px 0;
}

.sidebar .report-menu li a {
    font-size: 14px;
    color: var(--site-color);
}

.sidebar .report-menu li a i {
    margin-right: 10px;
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.new-launch-text {
    text-decoration: blink;
	animation-name: blinker;
	animation-duration: 0.6s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
}
.move{
    transform: rotate(272deg); 
    color: #fff;
}
.c-f{
    color: #fff;
    transform: rotate(0deg);
}
.text-dark span {
    padding-right: 4px;
    cursor: pointer;
}