.proft-sport{
    background-color: #08c;
}
.sport-padding{
    padding: 5px !important;
}
.ant-tabs-nav-wrap {
    margin-left: 12px;
}
.statement1{
    height: 70vh;
    overflow: scroll;
}
.statement1::-webkit-scrollbar{
    display: none;
}