.proft-sport{
    background-color: #08c;
}
.sport-padding{
    padding: 5px !important;
}
.ant-tabs-nav-wrap {
    margin-left: 12px;
}




.ant-picker{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 36px;
    border-radius: 3px !important;
 
}
.mb-12{
    margin-bottom: 12px;
}
@media screen and (max-width: 350px) {
    .ant-picker {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 36px;
        border-radius: 3px;
    }
}

