.main-wrapper {
  background-image: url("https://www.indipredict.com/static/MobilePostScreenLandscape.db4baf31.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
  align-items: center;
}


.singupdiv {
  background: #1e2f67;
  background: #1e2f67;
  margin-right: 40px;
  width: 500px;
  height: 600px;
}

.main-wrapper .header {
  color: #fff;
  font-size: 35px;
  font-weight: 600px;
  text-align: center;
  line-height: 100px;
  background: rgb(63, 0, 77);
  background: linear-gradient(90deg, rgba(63, 0, 77, 1) 0%, rgba(27, 59, 111, 1) 50%, rgba(63, 0, 77, 1) 100%);
  border-radius: 12px 12px 0 0;
}

/* .main-wrapper .header {
  color: #fff;
  font-size: 35px;
  font-weight: 600px;
  text-align: center;
  line-height: 100px;
  background: rgb(63, 0, 77);
  background: linear-gradient(90deg, rgb(101 147 94) 0%, rgba(27, 59, 111, 1) 50%, rgb(101 147 94)100%);
  border-radius: 12px 12px 0 0;
} */

/* 
.main-wrapper .header {
  color: #fff;
  font-size: 35px;
  font-weight: 600px;
  text-align: center;
  line-height: 100px;
  background: rgb(63, 0, 77);
  background: linear-gradient(90deg, rgb(26 62 213) 0%, rgb(109 159 121) 50%, rgb(32 65 218) 100%);
  border-radius: 12px 12px 0 0;
} */

/* button {
    color: #fff;
    background-color: #74c725;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0;
    cursor: pointer;
    transition: all 0.3s ease;
} */

.main-wrapper form {
  padding: 25px 30px;
}

.main-wrapper form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.main-wrapper form .field input,
.main-wrapper form .field button {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  outline: none;
}

.main-wrapper form .field button {
  border: none;
}

.main-wrapper form .field input {
  border: 1px solid lightgrey;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-size: 17px;
  background: #1e2f67;
  color: #fff;
}

.main-wrapper form .field input:focus,
.main-wrapper form .field input:valid {
  border-color: #b5179e;
}

.main-wrapper form .field input:focus~label,
.main-wrapper form .field input:valid~label {
  top: 0%;
  font-size: 16px;
  color: #fff;
  /* color: #b5179e; */
  background-color: #1e2f67;
}

.main-wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 17px;
  color: #999;
}

.main-wrapper form .form-link {
  color: #4158d0;
  margin-top: 20px;
  text-align: center;
}

.main-wrapper form .form-link span {
  color: #888;
}

.main-wrapper form .form-link .forgot-pass:hover,
.main-wrapper form .sign-up a:hover {
  text-decoration: underline;
}

.main-wrapper form .field button {
  color: #fff;
  background-color: #b5179e;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-wrapper form .field button:active,
.main-wrapper form .field button:hover {
  transform: scale(0.95);
  background: rgb(63, 0, 77);
  background: linear-gradient(90deg, rgba(63, 0, 77, 1) 0%, rgba(27, 59, 111, 1) 50%, rgba(63, 0, 77, 1) 100%);
  font-size: 19px;
}


@media screen and (min-width: 300px) and (max-width: 800px) {

  .main-wrapper {
    background-image: url("https://www.indipredict.com/static/MobilePostScreenPortrait.61ff17e0.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 0px;
  }
  .singupdiv {
    margin-right: 0px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    right: 20px;
    top: 35.8vh;
    width: calc(100% - 40px);
    z-index: 10;
    height: unset;
    padding-bottom: 10px;
}
.main-wrapper form {
  padding: 0px 9px;
}
.main-wrapper .header {
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 59px;
  background: linear-gradient(90deg, rgba(63, 0, 77, 1) 0%, rgba(27, 59, 111, 1) 50%, rgba(63, 0, 77, 1) 100%);
  border-radius: 12px 12px 0 0;
}
.main-wrapper form .field {
  position: relative;
  height: 39px;
  width: 100%;
  margin-top: 20px;
}
}


@media screen and (min-width: 800px) and (max-width: 1025px) {

  .main-wrapper {
    background-image: url("https://www.indipredict.com/static/MobilePostScreenPortrait.61ff17e0.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 0px;
  }
  .singupdiv {
    margin-right: 0px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    right: 20px;
    top: 50.8vh;
    width: calc(100% - 40px);
    z-index: 10;
    height: unset;
    padding-bottom: 10px;
}
.main-wrapper form {
  padding: 0px 9px;
}
.main-wrapper .header {
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 59px;
  background: linear-gradient(90deg, rgba(63, 0, 77, 1) 0%, rgba(27, 59, 111, 1) 50%, rgba(63, 0, 77, 1) 100%);
  border-radius: 12px 12px 0 0;
}
.main-wrapper form .field {
  position: relative;
  height: 39px;
  width: 100%;
  margin-top: 20px;
}
}