div#example-modal-sizes-title-lg {
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width: 780px){
    .table {
        margin-bottom: 0;
    }
    
    .table-bordered {
        border: 1px solid #dee2e6;
    }
    .modal .table thead tr {
        background-color: #2c3e50 !important;
        color: #fff !important;
    }
    .table thead th {
        border-bottom: 0;
        vertical-align: middle;
        font-size: 14px;
    }
    tr.theme1font {
        background: #2c3e50;
        color: #fff;
        font-size: 11px;
        /* padding: 0; */
    }
    table.table.table-hover {
        border: 1px solid #ddd;
        background: #ddd;
    }   
    .table-bordered {
        border: 1px solid #dee2e6;
    }
    .table thead th {
        border-bottom: 0;
        vertical-align: middle;
        font-size: 14px;
    }
    div#myMarketModal___BV_modal_body_ {
        width: 108%;
        margin-inline: -4%;
    }
    table.table.table-hover {
        background: #ddd;
        border: 1px solid #ddd;
    }
    tr.theme1font {
        background: #2c3e50;
        color: #fff;
        font-size: 12px;
    }
    tr.theme1font th {
        border-left: 1px solid #dee2e6;
    }
    tr.theme1font th {
        border-left: 1px solid #dee2e6;
        padding: 6px;
        font-size: 14px;
    }
    td.text-center.no-real {
        padding: 4px;
        font-size: 12px;
    }
    .modal-header {
        padding: 6px;
        font-weight: 600;
    }
    .modal-header .btn-close {
    padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    margin: calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;
    margin-top: -1px;
    margin-right: -2px;
}
}