.desk-table-responsive{
    width: 100% !important;
    margin-inline: unset !important;
}
.mx-input .ant-picker-input input {
    display: inline-block;
    width: 100%;
    /* margin-left: -22px; */
    padding: 3px 48px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
}
.mx-input {
    
    width: 100% !important;
    margin-left: -5px !important;
    padding: 6px 20px !important;
    padding-left: 10px !important;
}
.mt-7 {
    margin-top: 7px;
}
.br {
    border-radius: 4px 4px 0px 0px !important;
}
.upDownbtn {
    position: absolute;
    right: 10px;
    top: 11px;
}
.upDownbtn i {
    display: block;
    line-height: 9px;
}
