.pass-control {
    border: 1px solid #ced4da !important;
    width: 34%;
}
.changeBtn {
    width: 74% !important;
    font-size: 16px !important;
    font-weight: 600;
}
.changLable {
    font-size: 15px !important;
    font-weight: 500;
    margin-bottom: 2px;
}

p.lodder.lodder-chng {
    position: absolute;
    z-index: 11;
    width: 34%;
    height: 34vh;
    background: #f1f5f8a3;
}