
@keyframes live {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.live-under {
    margin-top: -2px;
    overflow: hidden;
}
.live-under-under {
    width: 100%;
    animation: live 1s linear alternate 0s infinite;
    background-color: #03B37F;
    height: 2px;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    height: 100% !important;
}