#scrollable-match-list-mobile::-webkit-scrollbar {
  width:2px;
  padding: 0px;
}

#scrollable-match-list-mobile::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0px;
}

#scrollable-match-list-desktop::-webkit-scrollbar {
  width:10px;
  padding: 0px;
}

#scrollable-match-list-desktop::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0px;
}
.button_tabs_container::-webkit-scrollbar {
  width:0px;
  padding: 0px;
  display: none;
}

.button_tabs_container::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0px;
  display: none;

}