.comm_soon img{
    width: 50%;
}

.comm_soon {
    min-height: calc(100vh - 270px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .comm_soon img{
        width: 100%;
    }
    .comm_soon {
        min-height: calc(100vh - 215px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}