#load {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed !important;
    align-items: center;
    z-index: 9999;
    position: relative;
    background-image: linear-gradient(var(--theme1-bg), var(--theme2-bg));
}

#load-inner {
    position: relative;
    text-align: center;
}

#load-inner img {
    display: block;
    height: 65px;
}

#load-inner i {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}

.modal-dialog {
    margin: 1% auto;
}

/* .modal-header {
    padding: 10px;
    background: var(--theme1-bg);
    color: var(--primary-color);
    border-radius: 0;
    border: 0;
} */

.modal-body {
    max-height: calc(96vh - 47px);
    overflow: auto;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-header .close {
    color: var(--primary-color);
    opacity: 1;
}

.modal-header .close:focus,
.modal-header .close:hover {
    color: var(--primary-color);
    opacity: 1;
}

ul {
    margin-bottom: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin-bottom: 0;
}

.btn-theme {
    color: var(--primary-color) !important;
    background-image: linear-gradient( to right, var(--theme1-bg), var(--theme2-bg)) !important;
    width: 100% !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: 0 !important;
    padding: 8px 10px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    position: relative;
}

.suspended {
    position: relative;
}

.suspended:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white-color);
    text-transform: uppercase;
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    font-weight: 900;
    font-size: 18px;
    top: 0;
}

.sports-wrapper .main-market .suspended:after {
    width: 60%;
    content: attr(data-title);
    font-size: 16px;
    color: #ff0000;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.bookmaker-market .suspended:after {
    width: 60%;
    content: attr(data-title);
    font-size: 16px;
    color: #ff0000;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.bookmaker-market .col-4 .suspended:after {
    width: 40%;
    content: attr(data-title);
    font-size: 12px;
    color: #ff0000;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.fancy-market .suspended:after {
    width: 46%;
    content: attr(data-title);
    font-size: 16px;
    color: #ff0000;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

.teen9-container .suspended:after {
    width: 60%;
}

.teenpatti-1day .suspended:after {
    width: 40%;
}

.teenpatti-20 .suspended:after {
    width: 50%;
}

.teenpatti-open .suspended:after {
    width: 60%;
}

.poker-20 .suspended:after {
    width: 40%;
}

.poker-1day .suspended:after {
    width: 60%;
}

.poker-6player .suspended:after {
    width: 100%;
}

.casino-32A .suspended:after {
    width: 40%;
}

.casino-32B .suspended:after {
    width: 40%;
}

.casino-32B .casino-32-worli .suspended:after {
    width: 100%;
}

.dragon-tiger-20 .suspended:after {
    width: 100%;
}

.dragon-tiger-1day .suspended:after {
    width: 100%;
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    font-weight: 900;
    font-size: 16px;
    color: var(--white-color);
}

.dragon-tiger-1day .dt-odds .suspended:after {
    width: 60%;
}

.aaa .aaa-odds .suspended:after {
    width: 40%;
}

.aaa .suspended:after {
    width: 100%;
}

.bollywood-table .bt-odds .suspended:after {
    width: 40%;
}

.bollywood-table .suspended:after {
    width: 100%;
}

.lucky7 .suspended:after {
    width: 100%;
}

.worli-matka .suspended {
    position: relative;
    display: table;
    width: 100%;
}

.worli-matka .suspended:after {
    width: 100%;
}

.suspendedtd {
    position: relative;
}

.suspendedtd:after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white-color);
    text-transform: uppercase;
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    font-weight: 900;
    font-size: 16px;
    top: 0;
    width: 100%;
}

/*Main CSS*/

.main {
    min-height: calc(100vh - 159px);
}

.header {
    background-color: #0088cc;
    color: #fff;
    position: relative;
}


.header-bottom {
    /* background-color: #2c3e50; */
    margin-top: 10px;
    padding: 9px 0;
}

.header-bottom li a {
    color: var(--secondary-color);
    text-transform: uppercase;
    padding: 3px 15px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.search .fa-search-plus {
    color: var(--primary-color);
    font-size: 24px;
    margin-left: 10px;
    /*position: absolute;
    right: 10px;
    top: 7px;*/
    float: right;
    margin-top: 5px;
}

.header-top {
    height: 60px;
    margin-top: 10px;
}

.header-top ul{
    padding-top: 10px;
}

.desk-logo img {
    width: auto;
    height: 65px;
}

.logo-login {
    max-height: 65px;
    max-width: 100%;
}

.search {
    position: relative;
    margin-right: 20px;
    z-index: 10;
    animation-name: search;
    /*background-color: var(--primary-bg);*/
}

.float-right {
    float: right!important;
}
.float-left{
    float: left!important;

}
marquee {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 55%;
    font-size: 14px;
    font-style: italic;
    position: absolute;
    bottom: -7px;
    right: 0;
}



ul.list-unstyled.navbar-nav li a {
    text-decoration: none !important;
}


.ballance,
.expose,
.account {
    margin-left: 15px;
    margin-top: 0;
}

.account {
    margin-top: 5px;
}
.account ul {
    display: none;
    position: absolute;
    top: 52px;
    right: 5px;
    z-index: 1000;
    min-width: 170px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: var(--primary-bg);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.account ul li a{
    text-decoration: none;
}
.header-bottom nav {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.header-bottom li a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: inherit !important;
}

.header-bottom li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: var(--primary-bg);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.header-bottom li a:hover:before,
.header-bottom li a:focus:before,
.header-bottom li a:active:before {
    left: 0;
    right: 0;
}

.header-bottom li a.active {
    background-color: var(--primary-bg);
    color: var(--secondary-color);
}

.account .fa-chevron-down {
    margin-left: 5px;
}

.account>span {
    cursor: pointer;
    position: relative;
}


.header-top .account ul li {
    line-height: 24px;
}

.header-top .account ul li a {
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 8px;
    color: var(--site-color);
}

.header-top .account ul h6 {
    padding: 0 8px;
    color: var(--site-color);
}


  .nav-b{
    font-weight: bold;
  }

  .search-input {
    height: 38px;
    border: 0;
    padding: 0;
    outline: 0;
    width: 300px;
    opacity: 0;
    border-radius: 2px 2px 0 0;
    border-radius: 0;
    box-shadow: 0 0 5px var(--secondary-bg);
    transition: width 0.4s linear !important ;
}

.search .search-input-show {
    width: 300px;
    height: 34px;
    padding: 0 10px;
    transition: width 2s, height 4s;
}
.list1{
    padding-left: 8px;
}
.modal.fade.show.custom-modal-class {
    position: absolute;
    top: 0;
}
.modal-box{
    width: 100%;
}
.rule-modal>.modal-dialog.modal-lg{
    height: 100%;

}

.exp-modal>.modal-dialog.modal-lg{
    height: 100%;
}
.exp-mod>.modal.fade.show.custom-modal-class{
    position: absolute;

}
.Mob-view{
    display: none;
}

li.ballance.float-left a {
    color: #fff;
}
li.search.float-left a i {
    color: #fff;
}
li.float-left.download-apklink a {
    color: #fff;
}
.exp-modal1{
    display: none !important;
}
.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.desk-view {
    display: block !important;
  }

  .desk-viewBtn {
    padding: 6px 4px;
    font-size: 14px;
    margin-left: 4%;
}
.overLay {
    height: 100%;
    position: fixed;
    background-color: transparent;
    left: 0;
    width: 100vw;
    z-index: 9999;
}