.checkBoxInLogin  .form-check-input {
    margin-left: -1.1em !important;
}

.remove-spin-class  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    display: none;
  }

  .remove-spin-class {
    -moz-appearance: textfield;
  }