.eventName {
    padding-right: 160px !important;
}
.expBtn {
    text-decoration: none;
    border: none;
    outline: unset;
    background: none;
    color: #fff;
    cursor: pointer;

}
.expBtn:first-child{
    margin-right: 12px;
}
.sports .nav-tabs .nav-link.active {
    background-color: #0088cc !important;
    
}
.toggleBtn{
    width: 100%;
}
.expLeft{
    margin-left: -2px;
    cursor: pointer;
}
.expRight{
    margin-right: -2px;
    cursor: pointer;
}
.custom-control-input, .custom-control-label{
    cursor: pointer;
}
.main-exp-containor {
    overflow: unset !important;
}
.exp-data{
    margin-left: -21px;
}

.game-nav-bar::-webkit-scrollbar{
    display: none;
}
div#match_unmatched_deleted {
    margin-left: -9px;
    display: flex;
    justify-content: space-between;
}
.expRedioBtn{
    margin-left: -28px;
}   
.betColor{
    color: green !important;
}
.expMaindiv {
    margin-left: -8px;
    margin-right: -4px;
    border-top: 1px solid #ddddddb8;
    padding-top: 8px;
}
.table-responsive.unsetTable.expMaindiv::-webkit-scrollbar {
    display: none;
}