

.mobile_if{
    display: none;
}
.desktop_if{
    height: 97vh;
}

@media screen and (max-width: 500px) {
    .mobile_if {
        height: calc(100vh - 150px);
        display: block;
    }
    
    .desktop_if{
        display: none;
    }
    
}
