

.mobile_if{
    display: none;
}
.desktop_if{
    height: 97vh;
}

@media screen and (max-width: 500px) {
    .mobile_if {
        height: 100vh;
        display: block;
    }
    
    .desktop_if{
        display: none;
    }
    
}
