

.mobile_if{
    display: none;
}
.desktop_if{
    height: 97vh;
}

@media screen and (max-width: 800px) {
    .mobile_if {
        min-height: 850px;
        height: 100vh;
        max-height: 100vh;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 1000;
    }
    
     
}