.toggleable-list-title {
  display: none;
}

.mobile_if {
  height: calc(100vh - 2rem);
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  /* height: 100%; */
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1000;
}

.desktop_if {
  width: 100%;
  height: calc(100vh - 8rem);
  /* height: calc(100vh - 110px); */
  /* height: 2000px; */
  /* margin-top: -9rem; */
}
@media (min-width: 900px) {
  .desktop_if {
    /* margin-top: -8.5rem; */
    /* height: calc(100vh - 110px); */
  }
}
@media (min-width: 1024px) {
  
  .desktop_if {
  height: calc(100vh - 6rem);

    /* margin-top: -6.9rem; */
    /* height: calc(100vh - 110px); */
  }
}
