
:root {
    --text-primary: #08c;
    --text-secondary: #2d3e50;
    --primary-bg: #fff;
    --secondary-bg: #000;
    --link-bg: #bbb;
    --grey-bg: #ccc;
    --light-bg: #eee;
    --suspended-color: #730709;
    --red-color: #ff0000;
    --yellow-color: #ffff00;
    --green-color: #00ff00;
    --white-color: #fff;
    --site-color: #000;
    --green-bg: #145b12;
    --blue-color: #0000ff;
}

.home-products-container-title {
    padding: 6px !important;
    font-size: 16px;
}
.report-main-content form>span {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}

.casinoicons {
    position: relative;
    box-shadow: 0 25px 8px -8px;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.casinoicons img {
    width: 130px;
    height: auto;
}

.casino-name {
    background-image: linear-gradient(#0088cc, #2c3e50);
    color: #fff;
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: -15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    font-size: 11px;
}

.new-launch-casino {
    /* -webkit-animation: NAME-YOUR-ANIMATION 1s infinite; */
    /* Safari 4+ */
    /* -moz-animation: NAME-YOUR-ANIMATION 1s infinite; */
    /* Fx 5+ */
    /* -o-animation: NAME-YOUR-ANIMATION 1s infinite; */
    /* Opera 12+ */
    /* animation: NAME-YOUR-ANIMATION 1s infinite;
    position: absolute;
    right: -15px;
    top: -25px;
    padding: 10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 100; */
    position: absolute;
    left: -23px;
    top: -40px;
    padding: 10px;
    border-radius: 50%;
    height: auto;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

@keyframes NAME-YOUR-ANIMATION {
    0%,
    49% {
        background-color: rgba(215, 43, 43, 0.8);
    }
    50%,
    100% {
        background-color: rgba(0, 15, 255, 0.8);
    }
}

.info-icon {
    color: var(--site-color);
    font-size: 16px;
}

.info-block {
    position: relative;
}

.info-block .min-max-info {
    background: rgb(102, 102, 102) none repeat scroll 0% 0%;
    padding: 6px 14px;
    position: absolute;
    color: rgb(255, 255, 255);
    right: 0px;
    z-index: 1000;
}

.casino-content-table {
    background-color: var(--light-bg);
    padding: 15px;
}

.w-1 {
    width: 10% !important;
    min-width: 10% !important;
}

.w-2 {
    width: 20% !important;
    min-width: 20% !important;
}

.w-3 {
    width: 30% !important;
    min-width: 30% !important;
}

.w-4 {
    width: 40% !important;
    min-width: 40% !important;
}

.w-5 {
    width: 50% !important;
    min-width: 50% !important;
}

.w-6 {
    width: 60% !important;
    min-width: 60% !important;
}

.w-7 {
    width: 70% !important;
    min-width: 70% !important;
}

.w-8 {
    width: 80% !important;
    min-width: 80% !important;
}

.w-9 {
    width: 90% !important;
    min-width: 90% !important;
}

.w-10 {
    width: 100% !important;
    min-width: 100% !important;
}