.container-fluid-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.featured-box {
    padding-top: 5px;
    max-width: 85% !important;
    flex: 0 0 85% !important;
}
.game-heading {
    position: relative;
}
.game-heading {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
}
.game-heading .card-header-title {
    font-size: 15px;
    text-transform: uppercase;
}
.game-heading .card-header-title {
    /* font-size: 18px; */
    font-weight: bold;
}
.table {
    margin-bottom: 0 !important;
}
.table {
    width: 100%;
    /* max-width: 100%; */
    margin-bottom: 1rem;
    background-color: transparent;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.text-dark {
    color: #343a40!important;
}
.clickhere {
    font-size: 20px;
    width: 300px;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

.clickhere.blinking {
    animation: blinkingTextClickHere 0.8s infinite;
}
@keyframes mymove {
    0% {
        left: 0;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 25%;
    }
    100% {
        left: 0;
    }
}
@keyframes blinkingTextClickHere {
    0% {
        color: red;
        left: 0;
    }
    20% {
        color: red;
    }
    40% {
        color: red;
        left: 20px;
    }
    60% {
        color: var(--site-color);
    }
    80% {
        color: var(--site-color);
    }
    100% {
        color: var(--site-color);
        left: 40px;
    }
}