.rulesDiv {
padding: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.rulesMarketDiv{
    padding:6px;
}
.iconForCollapse{
    font-size: 14px;
    margin-right: 4px;
    margin-left: 4px;
}
.britishimg{
    height: 20px;
    margin-inline: 4px;
}

.britishdiv {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}