.container {
  width: 100%;
}

.games_container {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cnt {
  text-align: center;
}

.games_card {
  /* height: 140px; */
  padding: 0.5rem;
}

.games_card img {
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
}

.gam_ls {
  display: flex;
}

.tl {
  width: 23%;
}

.game_cr {
  width: 100%;
}

@media (max-width: 1300px) {
  .gam_ls {
    display: block;
  }
  .tl {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .games_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .games_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .games_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .games_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
