@media (min-width: 1600px) {
  :root {
    font-size: 18px;
  }
}
*{
  transition: all 0.5s;
}
.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 8px;
}
html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3438;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c444b;
}
/* 
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;500;600;700;800;900&display=swap");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.toolbar-padding {
  padding-right: 0 !important;
  padding-top: 8px !important;
  padding-left: 0 !important;
}

a {
  color: #03b37f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dheeraj_iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 600px;
  max-width: 600px;
  min-width: 450px;
}
.dheeraj_iframe.none {
  visibility: hidden;
}
.chat_icon_div {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  svg {
    font-size: 20px;
  }
}
.chat_icon_div svg {
  font-size: 20px;
}
