.App {
    overflow: hidden;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  .back, .back-color {
    background-color: #72bbef !important;
}
::-webkit-scrollbar {
    display: none;
  }