.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.toolbar-padding {
  padding-right: 0!important;
  padding-top: 8px!important;
  padding-left: 0!important;
}
a {
  color : #03B37F;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#top-nav-current {
  color: #fdcf13;
    /* padding-bottom: 0.1em; */
    margin-bottom: -0.1em;
    border-bottom: 2px solid #fdcf13;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
