body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.whatsapp-fixed{
  position: absolute;
  top:50%;
  display: flex;
  right:0;
  background-color:#25d366;
  text-decoration: none;
  height: 50px;
  transition: top 1.2s ease-in;
}
.whatsapp-fixed img{
   width: 50px;
  height: 50px;

} 
.whatsapp-text{
  font-weight: 700;

      display: none;
    flex-direction: column;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.whatsapp-fixed:hover .whatsapp-text{
  display: flex;
}
:root {
  --main-cl: #fff;
  --gray-cl: #cacaca;
  --over-lay: #000000ca;
  --light-dark: #898989;
  --bg-body: #23292e;
  --text-body: #aaafb5;
  --bg-sidebar: #16191c;
  --text-sidebar: #aaafb5;
  --bg-table: #2e3439;
  --text-table: #aaafb5;
  --bg-table-header: #3c444b;
  --text-table-header: #aaafb5;
  --text-highlight: #ffffff;
  --text-fancy: #fdcf13;
  --btn-primary: #03b37f;
  --btn-secondary: #03b37f52;
  --btn-reset: #fc4242;
  --bg-tabs: #03b37f33;
  --bg-news: #005a40;
  --text-white: #ffffff;
}

.mid_container {
  width: 100%;
  height: 90vh;
  margin-top: 1.2px;
  margin-left: 252px;
  width: calc(100% - 255px);
}

@media (max-width: 1280px) {
  .mid_container {
    width: 100%;
    margin-left: auto;
  }
}

.games {
  cursor: pointer;
}
