.m-t-5 {
    margin-top: 5px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.teenpattixyz .main-table.table, .teenpattixyz .main-table.table td, .teenpattixyz .main-table.table th, .teenpattixyz .main-table.table tr {
    border-color: #222;
    vertical-align: middle;
}
.table {
    margin-bottom: 0 !important;
}
.suspended {
    position: relative;
}
.table-bordered {
    border: 1px solid #dee2e6;
}   
.teenpattixyz .main-table.table, .teenpattixyz .main-table.table td, .teenpattixyz .main-table.table th, .teenpattixyz .main-table.table tr {
    border-color: #222;
    vertical-align: middle;
}
.teenpattixyz .main-table.table .brate {
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
}
.teenpattixyz .main-table.table, .teenpattixyz .main-table.table td, .teenpattixyz .main-table.table th, .teenpattixyz .main-table.table tr {
    border-color: #222;
    vertical-align: middle;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.teenpattixyz .main-table.table .brate {
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
}
.text-center {
    text-align: center!important;
}
.teenpattixyz .main-table.table .p-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
}
.text-danger {
    color: #dc3545!important;
}
img.card-image {
    border: 3px solid #eee;
    display: inline-block;
    width: 45px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}
