.aaa-content {
    background-color: #eee;
    padding: 15px;
}
.text-danger {
    color: #dc3545!important;
}
.aaa-button {
    float: left;
    width: 100%;
}
.suspended {
    position: relative;
}
.aaa-button button {
    padding: 8px;
    border: 0;
    outline: none;
    width: 50%;
    float: left;
    cursor: pointer;
}
.back, .back-color {
    background-color: #72bbef !important;
}
.lay, .lay-color {
    background-color: #faa9ba !important;
}
.aaa-content {
    background-color: #eee;
    padding: 15px;
}
.btn-theme {
    color: #fff !important;
    background-image: linear-gradient( to right, #0088cc, #2c3e50) !important;
    width: 100% !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
    border: 0 !important;
    padding: 8px 10px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    position: relative;
}
.info-block {
    position: relative;
}
.info-icon {
    color: #000;
    font-size: 16px;
}
.info-block .min-max-info {
    background: rgb(102, 102, 102) none repeat scroll 0% 0%;
    padding: 6px 14px;
    position: absolute;
    color: rgb(255, 255, 255);
    right: 0px;
    z-index: 1000;
}
.fancy-marker-title h4 {
    padding: 10px;
    background-color: #2c3e50d9;
    color: #fff;
    font-size: 14px;
}
.result-view-all {
    font-size: 14px;
    float: right;
    color: #fff;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.ball-runs.playerb {
    background: #355e3b;
    color: #ffff33;
}
.last-result {
    cursor: pointer;
    margin-left: 2px;
}
.ball-runs {
    background: var(--theme1-bg);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}
